---

---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<meta
			name='viewport'
			content='width=device-width'
		/>
		<meta
			name='generator'
			content={Astro.generator}
		/>
		<title>Astro</title>
	</head>
	<body>
		<h1>abhi <i>bole toh</i> now.</h1>
		<p>whoami blog snippets projects anti-vision photos reviews</p>
		<h2>socials</h2>
		<p>linkedin discord</p>
	</body>
</html>
