---
import BaseHead from "@/components/base-head.astro";
import { SITE } from "@/consts";
import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={`resume | ${SITE.TITLE}`}
			description="Abhigyan Tripathi is an enthusiast for software development, design and cybersecurity. He is currently a student at Manipal Institute of Technology, Bengaluru, pursuing a degree in Computer Sciecne."
		/>
		<meta
			http-equiv="refresh"
			content="0;url=/resume.pdf"
		/>
	</head>
	<body class="flex min-h-screen flex-col items-center justify-center">
		<div class="flex flex-col items-center gap-4 text-center">
			<svg
				class="h-8 w-8 animate-spin"
				style="color: var(--color-text-muted);"
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
			>
				<circle
					class="opacity-25"
					cx="12"
					cy="12"
					r="10"
					stroke="currentColor"
					stroke-width="4"
				></circle>
				<path
					class="opacity-75"
					fill="currentColor"
					d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
				></path>
			</svg>
			<p class="font-gummy text-lg font-medium">
				redirecting to resume,<br />
				<span
					style="color: var(--color-text-muted);"
					class="text-sm font-normal"
				>
					if it's taking time, just follow <a
						href="/resume.pdf"
						class="underline decoration-dashed decoration-1 underline-offset-2 hover:bg-(--color-text) hover:text-(--color-bg) hover:decoration-transparent"
						>this link</a
					>.
				</span>
			</p>
		</div>
		<script>
			window.location.href = "/resume.pdf";
		</script>
	</body>
</html>
