<div
	class="not-prose flex flex-col items-start rounded-xl bg-(--color-text)/10 px-4 py-4 md:flex-row md:px-3"
>
	<div class="mt-1 mb-4 ml-1 aspect-square md:mt-1.5 md:mr-3 md:mb-3">
		<div
			class="size-12 -rotate-12 bg-[#3C3836] md:size-10 dark:bg-[#EBDBB2]"
			style="-webkit-mask: url(/icons/file-list.svg) no-repeat center; mask: url(/icons/file-list.svg) no-repeat center; -webkit-mask-size: contain; mask-size: contain;"
			role="img"
			aria-label="Resume Icon"
		>
		</div>
	</div>
	<div class="flex flex-col items-start justify-center text-base/6">
		<span class="text-left font-bold">Looking for something more professional?</span>
		<p class="pb-1 text-justify text-(--color-text-muted) md:pr-2">
			You might prefer going straight to my
			<a
				href="/resume"
				class="underline decoration-dashed underline-offset-3 hover:bg-(--color-text) hover:text-(--color-bg) hover:no-underline"
				>resume</a
			>, since this space is meant to be more casual and non-technical. I also write about software
			things at
			<a
				href="https://abhi.computer"
				class="underline decoration-dashed underline-offset-3 hover:bg-(--color-text) hover:text-(--color-bg) hover:no-underline"
				>Abhi.Computer</a
			>, and maintain
			<a
				href="https://linkedin.com/in/abhigyantrips"
				class="underline decoration-dashed underline-offset-3 hover:bg-(--color-text) hover:text-(--color-bg) hover:no-underline"
				>LinkedIn</a
			>
			and
			<a
				href="https://github.com/abhigyantrips"
				class="underline decoration-dashed underline-offset-3 hover:bg-(--color-text) hover:text-(--color-bg) hover:no-underline"
				>GitHub</a
			>
			profiles you can peruse. Happy surfing!
		</p>
	</div>
</div>
